In [2]:
import pandas as pd

In [3]:
# importing with pandas assuming accurate headers and reasonable size of data
raw_data = pd.read_csv("test-data.csv")

In [4]:
# some failure testing, do not include in live
raw_data = raw_data.append(pd.read_csv("fail_tests.csv"))

In [5]:
raw_data

  Account ID               Account Name First Name Created On
0     314159                   superman      Ka-el    1/12/13
1        271                     batman      Bruce   11/19/16
2    8675309                       hulk      Bruce    2/22/99
3      99999                    batgirl     Yvonne     3/5/13
0       asdf   thisEntryShouldBeDeleted        NaN       None
1        NaN   thisEntryShouldBeDeleted        NaN   whenever
2        NaN   thisEntryShouldBeDeleted        NaN     2/4/12
3        271   thisEntryShouldBeDeleted        NaN   11/19/16
4         21                        NaN        NaN        NaN